<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
    <img class="logo" src="assets/education.png" alt="">
    <a class="navbar-brand" href="home">Properlearn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item"  *ngIf="currentUser.is_superuser">
          <a class="nav-link active" aria-current="page" href="admin">Admin</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user"></i> {{currentUser.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="wishlist">WishList</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  (click)="isLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <button type="button" class=" add-post-btn btn d-flex btn-outline-success" data-bs-toggle="modal" data-bs-target="#post">
        Add Post
      </button>
      <!-- Modal -->
    <div class="modal fade" id="post" tabindex="-1" aria-labelledby="postLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="post-form">
              <form action="" class="form"  enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input  (change)="titleChange($event)" type="text" id="title"  class="form-control">
                </div>
                <div class="form-group">
                  <label for="des">Description</label>
                  <textarea  (change)="descriptionChange($event)"  class="form-control" id="des" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Image</label>
                  <!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                  <input  #image accept="image/*" class="form-control"  observeFiles (change)="imageUpload($event)" type="file" id="formFile">
                </div>
                <!-- <div class="mb-3">
                  <label for="formFile" class="form-label">Video</label>
                  <input  (change)="videoUpload($event)"  class="form-control" type="file" id="formFile">
                </div> -->
                <div class="mb-3">
                  <label for="formFile" class="form-label">Category</label>
                  {{motivationPost.category}}
                  <select (change)="categoryChange($event)" class="form-control"   required>
                    <option *ngFor="let category of categories" [ngValue]="category.id" value="{{category.id}}" >{{ category.category_name}}</option>
                  </select>
                </div>
                <button (click)="publishMotivation()"  type="submit" class='custom btn btn-lg btn-outline-info'>Publish</button>
                <!-- (click)=" refresh()" -->
              </form>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>
</nav>
