.threadPage{
    background-color: #074436 !important;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-review{
  background-color: rgba(192, 224, 166, 0.5) !important;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.single-item h4{
  text-align: center;
  font-size: 25px;
  margin: 4px;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}


.comment {
  height: auto;
  width: 100%;
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
  color:aliceblue;
}

h1,
h5 {
    color: white;
    font-weight: bold
}

a
{
  text-decoration: none;
  color: aquamarine;
}

.thread:hover{
  cursor: pointer;
}


#thread-form label {
  color: white !important;
}


.review-threads{

  display: flex;
  flex-direction: column;
}

.thread-box{
  background-color: rgb(159, 182, 182);
  border-radius: 15px;
}

.thread-box p{
  margin-left: 3%;
  color: #074436;
}

.thread-box span{
  color: rgb(82, 72, 72);
}




/* RESPONSIVENESS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .comment {
    width: auto;
    height: auto;
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px
  }

  .comment h4,
  .comment span,
  .darker h4,
  .darker span {
    display: inline;

  }

  .comment p,
  .comment span,
  .darker p,
  .darker span {
    color:aliceblue;

  }

  h1,
  h5 {
      color: white;
      font-weight: bold;
      font-size: 15px;

  }

  span{
    font-size: 13px;
  }

 .reviewed-by img{
   height: 20px !important;
   width: 20px !important;


 }

 .reviewed-by p{
   margin-left: 3px !important;
   margin-top: 2px !important;
 }

 .reviewed-by h6{
   font-size: 15px;
 }
.thread-box {
  border-radius: 5px;
}

.single-item h4{
  text-align: center;
  font-size: 18px;

}




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width:991px){



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
