#main{
  background-color: #074436 !important;
  /* height: 100vh; */
}

.motivation{
  display: flex;
  justify-content: center;

}
.video{
  display: flex;
  justify-content: center;
}
video{
  height: 100% !important;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 224, 166, 0.5) !important;

}

.card-body p{
  line-height: 2;
}

#review-form, #hide-form{
  display: none;
}


.comment {
  height: auto;
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
  color:aliceblue;
}

h1,
h5 {
    color: white;
    font-weight: bold
}



.review-loop{
  display: flex;
  flex-direction: column;
}
.reviewed-by{
  display: flex;
}

.review-by span{
  float: right;
}

a
{
  text-decoration: none;
  color: aquamarine;
}

.thread:hover{
  cursor: pointer;
}
#show-thread-form:hover{
  color: orange;
}

#thread-form label {
  color: white !important;
}

#viewThread:hover{
  color: orange;
}


.review-threads{

  display: flex;
  flex-direction: column;
}

.thread-box{
  background-color: rgb(159, 182, 182);
}

.thread-box p{
  margin-left: 3%;
  color: #074436;
}

.thread-box span{
  color: rgb(82, 72, 72);
}
