.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}
#profile{
  background-color: #074436 !important;
  height: 100vh;
}


/* RESPONSIVENESS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  #profile{
    background-color: #074436 !important;
    height: auto;
  }





}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width:991px){



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #profile{
    background-color: #074436 !important;
    height: auto;
  }

 

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

